:root
{
    --primaryColor:#008A62;
    --secoundaryColor: #2AC195;
    --threeColor:#F4D03F ;
    --lightColor:white;
    --darkColor:black;
    --padding:8%;
}
html
{
    font-family: 'Allan', cursive;
    font-size: 16px;
    color:var(--darkColor);
  

}
body{
    /*background-image: linear-gradient(to left, #FF99AC ,#FF6A88, #FDFFA9);*/
    background-image: linear-gradient(45deg, #F4D03F , #16A085 , #FDFFA9) ;
  

}

.home
{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.container
{
    margin-top: 50px;
    margin-bottom: 50px;
}


#sec1
{
    height: 550px;
    margin-right: 20px;
    border-radius: 30px;
    background-color:var(--lightColor);
    border: 1px solid var(--primaryColor);
}
#sec1 .card
{
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin: auto;
    text-align: center;
    background-color: transparent;
    border: none;
}


.container h4
{
    font-family:'Allan', cursive ;
    font-size: 2rem;
    color: var(--darkColor);
  
}
#DownCV
{
    background-color: var(--primaryColor);
    color: var(--lightColor);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 2rem;
   
}
#DownCV:hover
{
   background-color: transparent;
   color: var(--darkColor);
   border: 2px solid var(--threeColor);
}
#sec2
{
    height: 550px;
    margin-left: 20px;
    border-radius: 30px;
    background-color:var(--lightColor);
    border: 1px solid var(--primaryColor);
    
}

.container-text .title
{
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 800;
    padding-left: 2rem;
    padding-top: 2rem;
    color: #F4D03F;
}
.container-text .paragraph
{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 2rem;
    font-weight: 600;
    color: var(--primaryColor);
    letter-spacing: .5px;
    padding: 2rem;
    
}
.container-text .icon
{
    position: absolute;
    bottom: 16px;
    right: 16px;
}

.container-text .icon #img
{
     width: 50px;
     height: 50px;
     background-color: transparent;
     cursor: pointer;
}

.container-text .icon #img:hover
{
    border: 2px solid var(--secoundaryColor);
    border-radius: 50%;
}

footer
{
    padding: 2rem var(--padding);
    
}

footer .content-footer
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
footer .content-footer .end
{
    color: var(--primaryColor);
    margin-top: 1rem;

}

footer .content-footer .end i
{
    color:var(--primaryColor);
}

span
{
    color: var(--threeColor);
}
